<mat-card-header>
  <h2>Edit Form</h2>
</mat-card-header>
<mat-card-content
  style="display: flex; align-items: center; justify-content: center"
>
  <form
    class="form-horizontal clearfix"
    [formGroup]="Updateform"
    (ngSubmit)="UpdateUser()"
    novalidate
  >
    <!-- <div class="form-row">
                <mat-form-field class="example-full-width">
                        <mat-label>USER ID</mat-label>
                        <input matInput formControlName="id" >
                </mat-form-field>
                </div>
                <div class="form-row">
                <mat-form-field class="example-full-width">
                        <mat-label>NAME</mat-label>
                        <input matInput  type="text" formControlName="name" >
                </mat-form-field>
                </div>
                <div class="form-row">
                <mat-form-field class="example-full-width">
                        <mat-label>PassWord</mat-label>
                        <input matInput  type="password" formControlName="password" >
                </mat-form-field>
                </div> -->
    <div class="form-row">
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option  [value]="">Select</mat-option>
          <mat-option *ngFor="let item of UserList" [value]="item.roleID">{{
            item.roleName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row" style="margin: 5px;">
        <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        </div>
    <!-- <div class="form-row">
                    <mat-radio-group formControlName="gender" aria-label="Gender" style=" display: flex;
                    gap: 10px; ">
                            <mat-radio-button value="Male"> Male</mat-radio-button>
                            <mat-radio-button value="FEMale" style="gap: 10px;">FeMale</mat-radio-button>
                    </mat-radio-group>
    </div> -->
    <mat-card-actions style="margin: 5px;">
      <button mat-raised-button color="primary">Submit</button>
      <a mat-raised-button mat-dialog-close color="accent">Close</a>
    </mat-card-actions>
  </form>
</mat-card-content>
